<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Highcharts 教程 | 菜鸟教程(runoob.com)</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<style>
    div{ display:inline}
</style>
</head>
<body>
<div id="container" style="max-width:800px;height:400px"></div>
<div id="container2" style="max-width:800px;height:400px"></div>
<div id="container3" style="max-width:800px;height:400px"></div>

<script language="JavaScript">
var chart = Highcharts.chart('container', {
	title: {
		text: '2020工单趋势'
	},
	subtitle: {
		text: '数据来源：photo168.cn'
	},
	yAxis: {
		title: {
			text: '工单个数'
		},
        plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
	},
	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},
    xAxis: {
       categories: {{ month | safe }}
   },
	series: [{
            name: 'salary',
            data: {{ salary }}
        }, {
            name: 'pay',
            data: {{ pay }}
        }, {
            name: 'cost',
            data: {{ cost }}
        }
    ],
	responsive: {
		rules: [{
			condition: {
				maxWidth: 800
			},
			chartOptions: {
				legend: {
					layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	}
});


var chart2 = Highcharts.chart('container2', {
	 chart: {
            type: 'column'
    },
    title: {
		text: '2010 ~ 2016 年太阳能行业就业人员发展情况'
	},
	subtitle: {
		text: '数据来源：photo168.cn'
	},
	yAxis: {
		title: {
			text: '就业人数'
		},
        plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
	},
	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},
    xAxis: {
       categories: ['一月', '二月', '三月', '四月', '五月', '六月'
              ,'七月', '八月']
   },
	series: [{
		name: '安装，实施人员',
		data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
	}, {
		name: '工人',
		data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
	}, {
		name: '销售',
		data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
	}, {
		name: '项目开发',
		data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
	}, {
		name: '其他',
		data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
	}],
	responsive: {
		rules: [{
			condition: {
				maxWidth: 800
			},
			chartOptions: {
				legend: {
					layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	}
});

var chart3 = Highcharts.chart('container3', {
	 chart: {
            type: 'line'
    },
    title: {
		text: '2010 ~ 2016 年太阳能行业就业人员发展情况'
	},
	subtitle: {
		text: '数据来源：photo168.cn'
	},
	yAxis: {
		title: {
			text: '就业人数'
		},
        plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
	},
	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},
    xAxis: {
       categories: ['一月', '二月', '三月', '四月', '五月', '六月'
              ,'七月', '八月']
   },
	series: [{
		name: '安装，实施人员',
		data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
	}, {
		name: '工人',
		data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
	}, {
		name: '销售',
		data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
	}, {
		name: '项目开发',
		data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
	}, {
		name: '其他',
		data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
	}],
	responsive: {
		rules: [{
			condition: {
				maxWidth: 800
			},
			chartOptions: {
				legend: {
					layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	}
});


</script>
</body>
</html>

